{% extends 'base.html.twig' %}
{% block body %}

<h1>readData</h1>
<h2>{{  data.FranceGlobalLiveData.0.nom  }}</h2>
<h2>{{data.FranceGlobalLiveData.0.date}}</h2>

{% if   data.FranceGlobalLiveData.0.nom   ==   data.FranceGlobalLiveData.0.nom   %}

	<p>comparaison reussi</p>

{% endif %}



{% endblock %}