{% extends 'base.html.twig' %}
{% block body %}

<h1>readData</h1>
{%for inc in data.allLiveFranceData%}

	<a href= "{{ path('a_p_i_detail', {value:inc.nom}) }}">{{inc.nom}}</a>
	<br>

{% endfor %}



{% endblock %}